*
{
	margin:0px;
	padding:0px;
	z-index:50;
}
#bgfoto1
{
	z-index:-10;
	position:absolute;
	width:100%;
	height:100%;
}
#bgfoto2
{
	z-index:-15;
	position:absolute;
	width:100%;
	height:100%;
}
#ticker
{
	height:27px;
	width:100%;
}
body
{
	background-size: 100%;
	background-origin: content;
	font-family:Arial;
}
#ticker #leftfade
{
	float:left;
	width:69px;
	background-image:url("../img/leftfade.png");
	height:27px;
}
#ticker #leftfade p
{
	font-size:14px;
	font-weight:bold;
	padding:5px;
	float:left;
}
#ticker #leftfade img
{
	margin-top:5px;
	float:left;
}
#ticker #rightfade
{
	float:right;
	height:27px;
	background-image:url('../img/rightfade.png');
	width:29px;
	margin-top:-27px;
}
#ticker #rightfade p
{
	padding:4px;
}
#ticker #content
{
	margin-left:69px;
	margin-right:29px;
	background-color:#fff;
	height:27px;
	background-image:url('../img/bg-ticker.gif');
}
#ticker #content p a
{
	font-weight:normal;
	color:#000;
	text-decoration:none;
}
#ticker #content p
{
	padding:6px;
	font-size:12px;
}
#header
{
	text-align:center;
	padding:10px;
}
#menuopen
{
	position:absolute;
	text-align:center;
	bottom:0px;
	width:100%;
}
#menuopen #left
{
	background-image:url("../img/bg-menubutton.png");
	height:74px;
	float:left;
	width:50px;
	display:block;
}
#menuopen #right
{
	background-image:url("../img/bg-menubutton.png");
	height:74px;
	float:right;
	width:50px;
	display:block;
}
#menuopen img
{
	float:left;
}
#nav
{
	padding-top:100px;
}
#nav #left
{
	float:left;
}
#nav #right
{
	float:right;
}
#click-to-open
{
	position:absolute;
	left:50%;
	margin-left:-134.5px;
	bottom:70px;
}
